*{
    margin: 0;
    padding: 0;
}

.app{
    width: 100%;
    
    /* border: 2px solid blue; */
    margin: auto;
    /* background-color: #c1bcab; */
}

.header{
    display: flex;
    padding: 7px 70px;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid green; */
    background-color: #fff1c1;
    box-sizing: border-box;

}

.logo{
    margin-left: 20px;
    width: 55px;
    border-radius: 50%;
}



.navigation-menu > ul{
    display: flex;
    list-style-type: none;
}

.navigation-menu > ul> li{
    margin: 20px;
    font-size: 18px;
}

.Body{
    
    /* border: 2px solid black; */
    width: 87vw;
    margin: auto;
    box-sizing: border-box;
    

}
.Restaurent-container{
    /* border: 2px solid rgb(14, 174, 228); */
    display: flex;
    justify-content: flex-start;
    gap: 37px;
    flex-wrap: wrap;
}

.Search-Bar{
    margin: auto;
    
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: #f2f3ee;

}
.RestaurentCard{
    /* border: 2px solid orange; */
    
    border-radius: 5px;
    overflow: hidden;
    width: 235px;
    padding-bottom: 20px;
    /* background-color: #689f384a; */
    box-sizing: border-box;
    margin-top: 30px;
}
.RestaurentCard > img{
    width: 235px;
    height: 170px
    
}
.RestCard-Info{
    margin: 5px 10px 10px 10px;
}

.cardView{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}
.cardView > button{
    width: 80px;
    padding: 5px;
    border-radius: 15px;
    /* background-color: #ece930; */
    font-size: 15px;
    font-weight: 600;
}


.Button-Container{
    display: flex;
    gap: 10px;
}


.Button-Container> button{
    margin: 10px;
    padding: 6px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid black;
    background-color: rgb(244, 245, 214);
}
